.publicaciones {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-width, 1200px);
  margin: 0 auto;
  padding: calc(var(--header-h, 4.5rem) + 2rem) 0 2rem 0;
}

.listCol {
  width: 50%;
  padding-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  gap: 3rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-left: calc(-1 * var(--layout-padding-inline, 2rem));
  padding-left: var(--layout-padding-inline, 2rem);
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.listItem {
  display: flex;
}

.itemLink {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  transition: font-style 0.2s ease;
}

.itemLink:hover {
  font-style: italic;
}

.itemName {
  flex: 1;
}

.itemYear {
  margin-left: 2rem;
  white-space: nowrap;
}

/* Preview Styles */
.preview {
  position: fixed;
  top: calc(var(--header-height, 8rem) + 2rem);
  right: 2rem;
  width: 500px;
  max-height: 800px;
  height: calc(100vh - var(--footer-height, 100px) - 8rem);
  background-color: #fff;
  overflow: hidden;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1800px) {
  .listCol {
    padding-left: 7.5rem;
  }
}

@media (max-width: 1400px) {
  .preview {
    position: fixed;
    right: 2rem;
    height: calc(100vh - var(--footer-height, 100px) - 8rem);
    width: 400px;
    max-height: 600px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .preview {
    position: fixed;
    right: 2rem;
    height: calc(100vh - var(--footer-height, 100px) - 8rem);
    width: 400px;
    max-height: 600px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .publicaciones {
    flex-direction: column;
    padding: 0;
    align-items: left;
  }

  .listCol {
    width: 100%;
    padding: 6rem 0;
    flex-direction: column;
    justify-content: center;
  }

  .preview {
    display: none;
  }
}

@media (max-width: 600px) {
  .listCol {
    width: 100%;
    padding: 6rem 0;
    align-items: left;
    gap: 2rem;
  }

  .itemLink {
    font-size: 1.2rem;
  }

  .sectionTitle {
    font-size: 1.2rem;
  }
}
