.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: calc(var(--header-h, 4.5rem) + 2rem) 0 2rem 0;
}

.copy {
    white-space: pre-line;
    line-height: 1;
    width: 650px;
    font-size: 14px;
    font-weight: 200;
}

.copy+.copy {
    margin-top: 6rem;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.miniLogo {
    width: 100px;
    height: 120px;
    object-fit: contain;
    margin-right: 2rem;
}

.logoCol {
    display: flex;
}

@media (max-width: 1800px) {
    .textCol {
        margin-left: 7.8rem;
    }
}

@media (max-width: 1000px) {
    .about {
        flex-direction: column;

    }

    .copy {
        width: 80%;
    }

    .textCol {
        margin-left: 0;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
    
    .miniLogo {
        width: 100px;
        height: 120px;
    }
}

@media (max-width: 700px) {

    .copy {
        width: 100%;
    }

    .textCol {
        margin-left: 0;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
    
    .miniLogo {
        width: 100px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .copy {
        width: 100%;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
    
    .miniLogo {
        width: 100px;
        height: 120px;
    }
}