.nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
padding-bottom: 20rem;}

.copy {
    white-space: pre-line;
    line-height: 1;
    width: 650px;
    font-weight: 300;
}

.copy+.copy {
    margin-top: 6rem;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copy+.copy {
    margin-top: 6rem;
}

.miniLogo {
    max-width: 100px;
    max-height: 120px;
    height: auto;
    width: auto;
    object-fit: contain;
}

.logoCol {
    display: flex;
}

@media (max-width: 1800px) {
    .textCol {
        margin-left: 7.8rem;
    }
}

@media (max-width: 1000px) {
    .nosotros {
        flex-direction: column;

    }

    .copy {
        width: 80%;
    }

    .textCol {
        margin-left: 0;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
}

@media (max-width: 700px) {

    .copy {
        width: 100%;
    }

    .textCol {
        margin-left: 0;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
}

@media (max-width: 600px) {
    .copy {
        width: 100%;
    }

    .logoCol {
        justify-content: flex-end !important;
    }
}