/* globals.css */

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list bullets, link underline */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-width: 1200px;
}

html,
body {
  height: 100%;
  /* white */
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-mueve), sans-serif;  
}

/* Apply font to all elements */
* {
  font-family: var(--font-mueve), sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Homepage specific styles */
.home html,
.home body {
  background: transparent !important;
}